@import "Global.css";
.Boton{
    width: 300px;
    height: fit-content;
    display: inline-grid;
    place-content: center;
}
.Boton-content{
    width: 256px;
    height: 40px;
    border: none;
    padding: 4px 8px;
    color: white;
    font-weight: 700;
    font-size:var(--tamano-texto-md);
    background-color: var(--color-secundario);
}
.Boton-content:hover{
    background-color: var(--color-primario);
}
.Boton-content:active{
    transform: translateY(2px);
}