@import "Global.css";

.Input{
    width: 300px;
    height: fit-content;
    display: inline-grid;
    place-content: center;
}
.Input-item{
    width: 256px;
    height: 40px;
    border: none;
    padding: 5px 10px;
    font-weight: 400;
    font-size:var(--tamano-texto-lg);
    border: 1px solid var(--color-secundario);
    border-radius: 2px;
}
.Input-item::placeholder{
    color: var(--colot-texto-placeholder);
}
.Input-item:focus{
    border-color: var(--color-primario);
    outline: 0 none;
}